@font-face {
    font-family: ueberSchrift;
    src: url("/static/Staatliches-Regular.ttf");
}

h1 {
    font-family: ueberSchrift;
    font-size:60px;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.load {
    display: block;
}
.content {
    display: none;
}
#tabelle > .row {
    margin-left: 0;
    margin-right: 0;
    transition: opacity ease-out 1s;
}
#tabelle > .row:hover .close, #tabelle > .row:hover .edit {
    display: inline;
}
#tabelle > .row-header > .col {
    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
    font-weight: bold;
}
#tabelle > .row > .col {
    padding: 7px;
    border: 1px solid rgba(39,41,43,0.1);
}
.btn-wrapper {
    margin-top: 20px;
}
.neue-einnahme-btn {
    float: right;
}
.close, .edit {
    background: none;
    border: none;
    color: rgba(0,0,0, 0.5);
    font-size: 20px;
    display: none;
    text-decoration: none;
}
.close:hover, .edit:hover {
    color: #000;
}
